@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f7; /* Cian */
    margin: 0;
}

/* Navbar */
.navbar-custom {
    background-color: rgb(16, 0, 79);
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
    /* margin-left: auto; /* Alinea el botón a la derecha */
    /* Ajusta la posición vertical del botón si es necesario */
    /* top: 10px;  */ */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Página Inicio */
/* Section */
section {
    /* padding: 30px 0; */
    color: #ffffff;
    /* margin: 50px;  mucho espacio*/
    border-bottom: 100%;
}

/* Destination Styles */
.destino {
    color: black;
    text-align: center;
    font-size: 48px;
    font-family: 'Righteous';
    padding: 5px 0;
    transition: color 0.3s, transform 0.3s;
}

.destino:hover {
    color: #007bff;
    transform: scale(1.1);
}

.cont-destino{
    background-color: rgb(16, 0, 79);
    color: #fff;
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
}


.cont-destino h5{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    pad: 20px 0;
}

.cont-destino p{
    font-size: 13px;
    text-align: center;
    pad: 20px 0;
    
}

.cont-destino .row .col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cont-destino .card {
    cursor: pointer;

}

.cont-destino .card img{
    position: relative;
    max-width: 340px;
    height: 250px;
   
}

.cont-destino .card-body{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    font-family: 'Righteous';
    
}

.cont-destino .card-body h5 {
    display: block;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
.cont-destino .card-body p {
    opacity: 0;
    transition: opacity 1s ease;

}
.cont-destino .card-body:hover p {
    opacity: 1;
    transition: opacity 2s ease;
}

.cont-destino .card-body:hover{
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
}

.cont-destino .card-body:hover h5 {
    display: none;
}

/* Carousel */
.carousel-container {
    /* max-width: 900px;  se veia muy chico */
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
}

.carousel-indicators button {
    background-color: #007bff;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #ffffff;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.carousel-caption h5 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.carousel-caption p {
    font-size: 16px;
    color: #f8f9fa;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

@media (max-width: 768px) {
    .carousel-caption {
        bottom: 20px;
    }

    .carousel-caption h5 {
        font-size: 18px;
    }

    .carousel-caption p {
        font-size: 14px;
    }
}

/* Banner */
.custom-card {
    background-color: #007bff;
    color: white;
}

.custom-image {
    max-width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.responsive-img {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: cover;
}


/* Página Formulario */

/* Establece la altura mínima para los inputs y los spans */
.input-group-text, .form-control {
    height: 45px; 
    display: flex;
    align-items: center;
    box-sizing: border-box; 
}

textarea.form-control {
    height: 90px; /* Altura mayor por defecto */
    min-height: 90px; /* Evita que sea más pequeño que los inputs */
    resize: vertical; /* Permite al usuario cambiar la altura si es necesario */
}

.section-content {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h1 {
    font-size: 2.5em;
    color: #003366; 
    margin: 0;
}

.section-title {
    font-size: 1.8em;
    color: #003366; 
    margin: 0;
    padding-bottom: 10px;
}

.section-title i {
    margin-right: 10px;
    color: #007BFF; 
}

.section-divider {
    border: 1px solid #007BFF; 
    margin: 10px 0;
}

.section-content p {
    font-size: 1em;
    line-height: 1.6;
    color: #333; 
}

@media (max-width: 768px) {
    .section-title {
        font-size: 1.5em;
    }
    
    .section-content {
        padding: 15px;
    }
}


/* Página Compra tickets */
/* Labels and Form Elements */
label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}
/* porfin ctm alabado sea scope */
@scope (#compra-ticket-main){
    input, select, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
}


/* Buttons */
button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


/* button:hover {
    background-color: #0056b3;
} */

/* .btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
} */

/* Hidden Elements */
.oculto {
    display: none;
}

/* Flight Options */
#opcionesVuelos {
    margin-top: 20px;
}

.vuelo {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vuelo img {
    width: 50px;
    height: auto;
}

.vuelo-info {
    flex-grow: 1;
    margin-left: 15px;
}

.vuelo-precio {
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
}

/* Footer */
footer {
    background-color: rgb(16, 0, 79);
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: 0.3s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #d01e11;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
