
header {
    background-color: #f8f9fa; 
    padding: 10px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.link {
    max-width: 1200px; 
    margin: 0 auto; 
}


.nav- {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}


.nombre {
    font-size: 24px; 
    font-weight: bold; 
    color: #007bff;
    text-decoration: none; 
}


.nav {
    list-style: none; 
    padding-left: 0; 
    margin: 0; 
    display: flex; 
    gap: 20px; 
}


.nav-link {
    color: #343a40;
    text-decoration: none; 
    font-size: 16px; 
    transition: color 0.3s; 
}

.nav-link:hover {
    color: white; 
}


.nav-item {
    list-style: none; 
}


section {
    
    padding: 30px 0; 
    color: #ffffff; 
    margin: 50px;
    border-bottom: 100%;
}
.destino {
    color: black;
    text-align: center;
    font-size: 48px;
    font-family: 'Righteous';
    padding: 5px 0;
    transition: color 0.3s, transform 0.3s; /* Añade una transición suave */
}

.destino:hover {
    color: #007bff; /* Cambia el color cuando se pasa el cursor */
    transform: scale(1.1); /* Agranda el texto un poco */
}


.carousel-container {
    max-width: 900px; 
    margin: 0 auto; 
    position: relative;
    background-color: #ffffff; 
    border-radius: 30px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    overflow: hidden; 
    
}


.carousel-inner img {
    max-height: 500px; 
    object-fit: cover; 
}


.carousel-indicators button {
    background-color: #007bff; 
    border-radius: 50%; 
}

.carousel-indicators .active {
    background-color: #ffffff; 
}


.carousel-caption {
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px; 
}

.carousel-caption h5 {
    font-size: 24px; 
    font-weight: bold; 
    color: #ffffff; 
}

.carousel-caption p {
    font-size: 16px; 
    color: #f8f9fa; 
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #007bff; 
    border-radius: 50%; 
    width: 40px;
    height: 40px;
}

.carousel-control-prev {
    left: 10px; 
}

.carousel-control-next {
    right: 10px; 
}


@media (max-width: 768px) {
    .carousel-caption {
        bottom: 20px; 
    }
    
    .carousel-caption h5 {
        font-size: 18px; 
    }
    
    .carousel-caption p {
        font-size: 14px; 
    }
}
